@import "./reset.css";

* {
  box-sizing: border-box;
}
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardWrapper {
  display: flex;
  align-items: stretch;

  margin: 2rem 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
}

.imageWrapper {
  width: inherit;
  height: 280px;
  position: relative;
  overflow: hidden;
}
.imagePlaceholder{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.cardImage {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  
}

.cardName {
  margin: 10px 0;
}

.cardDescription {
  font-weight: bold;
}

 .imagePlacement {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} 